#map {
  height: 500px;
}

.balloon-marker {
 /* width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white; */

        /* width: 80px;
      height: 80px;
      opacity: 0.8;
      border: 1px solid white;
      border-radius: 50%; */
      filter: drop-shadow(20px 20px 40px rgba(196, 196, 196, 0.482));
       box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
      /* box-shadow: 0 0 4px rgba(0,0,0,0.3); */
}

/* .his {
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.7));
} */

.popup {
    background: "red";
}
.leaflet-popup-content-wrapper {
  border-radius: 14px;
  background: "green";
    background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}


.leaflet-popup-tip {
  background:"yellow";
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content {
  margin: 0;
  padding: 14px 18px;
  text-align: center;
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Inter", system-ui, sans-serif;
}

.popup-title {
  font-size: 17px;
  font-weight: 600;
  color: #e63946;
  margin-bottom: 6px;
  letter-spacing: 0.3px;
}

.popup-altitude {
  font-size: 15px;
  color: #555;
}

.popup-altitude b {
  color: #111;
  font-weight: 600;
}

/* Subtle hover effect when popup opens */
.leaflet-popup-content-wrapper:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 8px rgba(77, 77, 77, 0.2);
}


.historyDot {
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 50%;
  opacity: 1;
  filter: drop-shadow(2px 2px 4px rgba(196, 196, 196, 0.482));
}